<form [formGroup]="myform" (ngSubmit)="saveUser()">
  <h1 mat-dialog-title>{{ inputdata.title }}</h1>
  <p [style]="'text-align:center; color:red;'">{{ errorMessage }}</p>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username"  />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Firstname</mat-label>
      <input matInput formControlName="firstname" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Lastname</mat-label>
      <input matInput formControlName="lastname" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="submit" color="primary">Save</button>
    <a (click)="closeModal()" mat-button color="warn">Close</a>
  </div>
</form>
